Exercise (score : 1) 
Q1. Create a list of 5 random numbers and print the list.
Q2. Insert 3 new values to the list and print the updated list.
Q3. Access the third element in the list and print the element.
Q4. Create a new list of 3 random strings and concatenate the two lists into a third list.
Q5. Try to use a for loop to print each element in the list.

In [33]:
l1=[5,23,17,42,9]
print(l1)

[5, 23, 17, 42, 9]

In [7]:
l1.append(79)
l1.append(13)
l1.append(98)

In [8]:
print(l1)

[5, 23, 17, 42, 9, 79, 13, 98]

In [10]:
print(l1[2])

17

In [11]:
l2=[21,31,41]

In [12]:
l3=l1+l2

In [13]:
print(l3)

[5, 23, 17, 42, 9, 79, 13, 98, 21, 31, 41]

In [14]:
for a in l3:
    print(a)

5
23
17
42
9
79
13
98
21
31
41

Topic : Dictionary 
Exercise (score : 1) 
Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.
Q3. Remove the key 'address' from the dictionary created in Q1.
Q4.  Print the value of the key 'age' from the dictionary created in Q1.
Q5. Check if the key 'phone' exists in the dictionary created in Q1.

In [15]:
D1={'name':'John','age':25,'address':'Newyork'}

In [18]:
D1['phone']=1234567890

In [20]:
del D1['address']

In [21]:
print(D1['age'])

25

In [23]:
print('phone' in D1)

True

Topic: Set
Exercise (score : 1) 
Q1.Create a set with values 1, 2, 3, 4, and 5.
Q2. Add the value 6 to the set created in Q1.
Q3. Remove the value 3 from the set created in Q1.
Q4. Print the length of the set created in Q1.
Q5. Create a new set by union of the set created in Q1 with another set {6, 7, 8}.

In [24]:
s1={1,2,3,4,5}

In [25]:
s1.add(6)

In [26]:
s1.remove(3)

In [27]:
print(len(s1))

5

In [31]:
s2={6,7,8}
s3=s1.union (s2)

In [32]:
print(s3)

{1, 2, 4, 5, 6, 7, 8}

Topic: Tuple

Exercise (score : 1) 
Q1. Create a tuple with values 1, 2, 3, and 4
Q2. Print the length of the tuple created in Q1.
Q3. Create a new tuple by concatenating the tuple from Q1 with another tuple (5, 6).
Q4. Print the first two values of the tuple created in Q3.
Q5. Check if the value 4 exists in the tuple created in Q1.

In [35]:
t1=(1,2,3,4)

In [36]:
print(len(t1))

4

In [44]:
t2=t1+(5,6)

In [45]:
t2

(1, 2, 3, 4, 5, 6)

In [46]:
print(t2[0],t2[1])

1 2

In [47]:
print(4 in t1)

True

In [ ]:
Topic : String, List -set-dictionary comprehension
Exercise 1 (score : 2) 
Write a program that asks the user to enter his/her full name and the program process and manipulate the text of his/her name.
An example run of the program (numbers in bold are typed in by the user)
Please enter your first name: Peter
Please enter your last name: Cambridge
Your full name is PETER CAMBRIDGE
Your initials are P C
First name length is 5 letters
Last name length is 9 letters
Full name length is 14 letters
First name starts with P
First name ends with R
Last name starts with C
Last name ends with E
First name indexes are 0 – 4
Last name indexes are 0 – 8
First name trims 1 Pet
First name trims 2 eter
Last name trims 1 Cam
Last name trims 2 bridge

Exercise 2 (score : 1) 
Write a program that asks the user to enter his/her name and then partly encrypt and display it.
Name: John
Encrypted name : J**n

Exercise 3 (score : 1) 
Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2

Exercise 4 (score : 1) 
Find all of the numbers from 1-1000 that are divisible by 7 using list comprehension.

Exercise 5 (score : 1) 
Create dictionary from a list where the keys are the elements of the list and value of the dictionary is result after dividing the element by 3

In [3]:
first=input("Please enter your first name")
last=input("Please enter your last name")
print(f"your full name is {first.upper()+' '+ last.upper()}")
print(f"ypour initials are {first[0].upper()} {last[0].upper()}")

Please enter your first name jeeva
Please enter your last name jose

your full name is JEEVA JOSE
ypour initials are J J

In [51]:
print(first)

jeeva

In [7]:
print(f"ypour initials are {first[0].upper()} {last[0].upper()}")
print(f"First name length is {len(first)} letters")
print(f"Last name length is {len(last)} letters")
print(f"First name starts with {first[0].upper()}")
print(f"Last name starts with {last[0].upper()}")
print(f"First name ends with {first[-1].upper()}")
print(f"Last name ends with {last[-1].upper()}")
print(f"First name indexes are 0 – {first.index(first[-1])}")
print(f"Last name indexes are 0 - {last.index(last[-1])}")
print(f"First name trims 1 {first[:3]}")
print(f"First name trims 2 {first[1:]}")
print(f"Last name trims 1 {last[:3]}")
print(f"Last name trims 2 {last[3:]}")

ypour initials are J J
First name length is 5 letters
Last name length is 4 letters
First name starts with J
Last name starts with J
First name ends with A
Last name ends with E
First name indexes are 0 – 4
Last name indexes are 0 - 3
First name trims 1 jee
First name trims 2 eeva
Last name trims 1 jos
Last name trims 2 e

Write a program that asks the user to enter his/her name and then partly encrypt and display it.

In [25]:
name=input("Enter your name")
name_encrypted=" "
for index, i in enumerate(name):
    if i==name[0] or i==name[len(name)-1]:
        name_encrypted+=i
    else:
        name_encrypted+="*"
print(name_encrypted)

Enter your name jeeva

 j***a

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [26]:
L=["hello", "hi", "aba","565","loyal", "kk", "Jeeva"]

In [28]:
count=0
for i in L:
    if len(i)>2 and i[0]==i[-1]:
        count+=1
print(f"number of strings where the string length is 2 or more and the first and last character are same is {count}")

number of strings where the string length is 2 or more and the first and last character are same is 3

Find all of the numbers from 1-1000 that are divisible by 7 using list comprehension.

In [30]:
l=[]
for i in range(1000):
    if (i+1)%7==0:
        l.append(i+1)

print(l)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

Create dictionary from a list where the keys are the elements of the list and value of the dictionary is result after dividing the element by 3

In [33]:
l=[3,9,56,25,87,45,21,41,33,56,81]
D=dict()
for i in l:
    D[i]=i/3
print(D)

{3: 1.0, 9: 3.0, 56: 18.666666666666668, 25: 8.333333333333334, 87: 29.0, 45: 15.0, 21: 7.0, 41: 13.666666666666666, 33: 11.0, 81: 27.0}